<%- include('header'); %>

  <h1>Transfer</h1>

  <% if (locals.message) { %>
    <span class="message"><%= message %></span>
  <% } %>
  <span class="error"></span>

  <!--<form id="transferForm">-->

<!-- Still in app.js and in the function body of the post route we are going to calculate the new balances for the account we are transferring from.

We have several values that have been entered into the HTML form in transfer.ejs. Upon form submission the request body will contain from, to, and amount. Current account balances are stored in the accounts object.

As an example to access the current balance for the savings account use accounts["savings"].balance. Using these values, calculate the new balance of the account we are transferring from. Then set the balance to that amount.
-->
  <form id="transferForm" action='/services/transfer' method='post'></form>
    <span>Transfer From: </span> 
    <!--<select required>-->
<!-- Still in app.js and in the function body of the post route we are going to calculate the new balances for the account we are transferring from.

We have several values that have been entered into the HTML form in transfer.ejs. Upon form submission the request body will contain from, to, and amount. Current account balances are stored in the accounts object.

As an example to access the current balance for the savings account use accounts["savings"].balance. Using these values, calculate the new balance of the account we are transferring from. Then set the balance to that amount.
-->
    <select required name='from' id='from'>
      <option value="checking">Checking</option>
      <option value="savings">Savings</option>
    </select>
    <span> to: </span>
    <!--<select required>-->
<!-- Still in app.js and in the function body of the post route we are going to calculate the new balances for the account we are transferring from.

We have several values that have been entered into the HTML form in transfer.ejs. Upon form submission the request body will contain from, to, and amount. Current account balances are stored in the accounts object.

As an example to access the current balance for the savings account use accounts["savings"].balance. Using these values, calculate the new balance of the account we are transferring from. Then set the balance to that amount.
-->
    <select required name='to' id='to'>
      <option value="checking">Checking</option>
      <option value="savings">Savings</option>
    </select>
    <input type="number" name="amount" id="amount" required placeholder="amount" step="0.01">
    <button type="submit">Transfer</button>
  </form>

  <br><a href="/">Back to Accounts Summary</a>
  <script src="js/transfer.js"></script>

<%- include('footer'); %>